/*Basic reset*/

*{
	margin: 0;
	padding: 0;

	/*Better text styling*/
	font: bold 14px Arial, sans-serif;
}

/*A nice BG gradient*/
html {
	height: 100%;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}
/*Using box shadows to create 3D effects*/
#calculator {
	width: 325px;
	height: auto;

	margin: 100px auto;
	padding: 20px 20px 9px;

	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
	box-shadow: 0px 4px #009de4, 0px 1opx 15px rgba(0, 0, 0, 0.2);
}

/*Top portion*/
.top .clear {
	float: left;

}

.top .screen {
	height: 40px;
	width: 212px;

	float: right;

	bacground: rgba(0,0,0,0.2);
}

/*Clear floats */
.keys, .top {overflow:hidden;}

/*Applying same to the keys*/
.keys span, .top span.clear {

	float: left;

	width: 66px;
	height: 36px;

	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	margin: 0 7px 11px 0;

	color: #888;
	line-height: 36px;
	text-align: center;

	/*prevent selection of text inside keys*/
	user-select: none;
}

/*Remove right margins from operator keys*/
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

/*Style different types of keys (operators/evaluate/clear) differently*/
.keys span.operator {
	background: #FFF0F5;
}